#navigation{
	width:140px
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}

#content{
	position: relative;
	padding: 0;
}

#myBoard {
	border: 1px solid gray;
	z-index: 1;
	width: 400px;
	height: 400px;
}

#overlay {
	border: 1px solid gray;
	z-index: 2;
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	left: 0;
}

.pieces {
    position: absolute;
}
.timer {	
	text-align: center;
}
.displayBlack {
	background-color: black;
	color: white;
	text-align: center;
}
.displayRed {
	background-color: red;
	color: white;
	text-align: center;
}
.displayEnd {
	background-color: blue;
	color: white;
	text-align: center;
}