body * {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Verdana;
}
body {
	margin: 2.5% 2.5% 0 2.5%;
	display: flex;
	flex-wrap: wrap;
}

header {
	display: flex;
	flex-wrap: wrap;
}

#logo {
	width: 100%;
}
@media (min-width: 768px) {
	#logo {
		width: 40%;
	}
}
@media (min-width: 1024px) {
	#logo {
		width: 50%;
	}
}
#img {
	width: 100%;
	margin: auto;
}
@media (min-width: 768px) {
	#img {
		margin: 0;
		width: 80%;
	}
}
@media (min-width: 1024px) {
	#img {
		width: 60%;
	}
}
nav {
	display: flex;
	font-size: 1.1em;
}
@media (min-width: 768px) {
	nav {
		width: 60%;
		font-size: 1.4em;
	}
}
@media (min-width: 1024px) {
	nav {
		width: 50%;
		font-size: 1.5em;
	}
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
nav li {
	text-align: center;
    border-bottom: 1px solid black;
    margin: 0 1% 0 1%;
}
nav li a {
	color: black;
	text-decoration: none;
}
#center-section {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 3% 0 3% 0;
}

#img2 {
	width: 100%;
}
@media (min-width: 768px) {
	#img2 {
		width: 50%;
	}
}
#img2 img {
	border: 1px solid gray;	
	width: calc(100% - 2px);
}
#content {

}
@media (min-width: 768px) {
	#content {
		width: 45%;
		margin: 0 0 0 5%;
	}
}
#content h1 {
	font-weight: normal;
    font-size: 2em;
	margin: 0 0 2.5% 0;
}
#content p {
	font-size: 0.9em;
}
@media (min-width: 768px) {
	#content p  {
	font-size: 1em;
	}
}
@media (min-width: 1024px) {
	#content p  {
	font-size: 1.1em;
	}
}
img {
	display: block;
}

#gallery {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#gallery h1 {
	margin: 0 0 2.5% 0;
	font-weight: normal;
    font-size: 2em;
}

.galleryElement {
	width: calc((100% - 2.5vw)/2);
	margin: 0 2.5vw 2.5vw 0;
}
.galleryElement:nth-child(2n+1) {
    margin: 0 0 2.5vw 0;
}
.galleryElement img {
	border: 1px solid gray;	
	width: calc(100% - 2px);
}
@media (min-width: 768px) {
	.galleryElement {
		width: calc((100% - 5vw)/3);
	}
	.galleryElement:not(:nth-child(3n+1)) {
	    margin: 0 2.5vw 2.5vw 0;
	}
	.galleryElement:nth-child(3n+1) {
	    margin: 0 0 2.5vw 0;
	}
}
@media (min-width: 1024px) {
	.galleryElement {
		width: calc((100% - 7.5vw)/4);
	}
	.galleryElement:not(:nth-child(4n+1)) {
	    margin: 0 2.5vw 2.5vw 0;
	}
	.galleryElement:nth-child(4n+1) {
	    margin: 0 0 2.5vw 0;
	}
}